:root{
    --box-width: 50px;
    --box-height: 50px;
    
}

body{
    /* height: 100%; */
    background-color: blue;

}

*{  
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
 
 #myh1{
    /* position: relative; */
    margin-top: 10px; 
    background-color: aqua;
    /* position: absolute; */
    /* height: var(--box-height);
    width: var(--box-width); */
    height: 80px;
    width: 80px;
    border: solid;
    /* overflow: hidden; */
    /* font-size: 50px; */
} 


#myh2 {
    /* position: relative; */
    /* top: -20px; */
    /* position: absolute; */
    /* top: 30px; */
    font-size: 1em;
    /* height: 80%;
    width: 80%; */
    /* font-size: 2rem;   */
    border: solid;
    background: purple;
} 
/* #myh3 {
    /* position: static; */
    top: 20px;
    left: 20px;
    height: 80px;
    width: 80px;
    font-size: 2rem;   
    background: purple;
}  */ */





